[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
apache-beam = {extras = ["gcp"], version = "*"}
google-cloud-bigtable = "*"

[dev-packages]

[requires]
python_version = "3.8"
